  Q1. What are data structures, and why are they important?
  - Data structures are systematic ways to organize, manage, and store data in order to facilitate efficient access and modification. They define the layout of data, the relationships between different data elements, and the operations that can be performed on the data.

Q2. Explain the difference between mutable and immutable data types with examples.
 - Python’s mutable objects, such as lists and dictionaries, allow you to change their value or data directly without affecting their identity. In contrast, immutable objects, like tuples and strings, don’t allow in-place modifications.

Q3.What are the main differences between lists and tuples in Python?
 - Lists are mutable while tuples are immutable.

Q4.Describe how dictionaries store data.
 - Dictionaries in Python are a built-in data structure that store data in key-value pairs.

Q5.Why might you use a set instead of a list in Python?
 - Set: Automatically ensures all elements are unique. If you need to store only distinct items, a set is ideal.
List: Allows duplicates, so you would need additional logic to remove or check for duplicates.

Q6.What is a string in Python, and how is it different from a list?
 - String is coded in single chord or double chord and there are immutable while lists are mutable and can contain all variables.

Q7.How do tuples ensure data integrity in Python?
 - Once a tuple is created, its elements cannot be modified, added, or removed. This ensures that the data remains consistent and unaltered throughout the program's execution.

Q8.What is a hash table, and how does it relate to dictionaries in Python?
 - A hashtable is a specific way to implement a dictionary.

Besides hashtables, another common way to implement dictionaries is red-black trees.

Q9.Can lists contain different data types in Python?
 - Yes

Q10.Explain why strings are immutable in Python?
 - 1. Memory Efficiency
2. Thread Safety
3. Hashability
4. Predictability and Simplicity

Q11. What advantages do dictionaries offer over lists for certain tasks?
 - it allows the dupliated,quick access by indexing and slicing.

Q12.Describe a scenario where using a tuple would be preferable over a list.
 - When we want faster access to data that will not change as tuples are faster than lists. When we want to use the data as a key in a dictionary. Tuples can be used as keys in a dictionary, but lists cannot.

Q13.How do sets handle duplicate values in Python?
 -  A set is an unordered collection of unique elements, meaning it does not allow duplicates. If you attempt to add duplicate values to a set, Python will only keep one instance of each unique value.

Q14.How does the “in” keyword work differently for lists and dictionaries?
 - The in keyword checks if a specific value exists as an element in the list.
  in dict the in keyword checks if a specific value exists as a key in the dictionary, not the values.

Q15.Can you modify the elements of a tuple? Explain why or why not.
 - No, because tuples are immutable.

Q16.What is a nested dictionary, and give an example of its use case?
 - A nested dictionary in Python is a dictionary inside another dictionary. This allows you to store complex data structures in a single dictionary.

Q17.Describe the time complexity of accessing elements in a dictionary.
 - my_dict = {'a': 1, 'b': 2, 'c': 3}
value = my_dict['b']
print(value)

Q18.In what situations are lists preferred over dictionaries?
 - For sequential access and storage efficiency, lists are preferable.

Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?
 - because they do not guarantee any specific order of their elements based on insertion or key values.

Q20.Explain the difference between a list and a dictionary in terms of data retrieval.
 - 1. Lists in Python are ordered collections of items, whereas dictionaries are unordered collections of items that are accessed by keys.
  2. List elements are accessed by index numbers, whereas dictionary elements are accessed by keys that can be of any immutable data type.

**Q1. Write a code to create a string with your name and print it.**

In [ ]:
name="ashish"
print(name)

ashish

**Q2.Write a code to find the length of the string "Hello World".**

In [ ]:
x="hello world"
len(x)

11

**Q3.Write a code to slice the first 3 characters from the string "Python Programming".**

In [1]:
str="python programming"
slice=str[0:3]
print(slice)

pyt

**Q4.Write a code to convert the string "hello" to uppercase.**

In [ ]:
x="hello"
x.upper()

'HELLO'

**Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple".**

In [ ]:
string = "I like apple"
new_string = string.replace("apple", "orange")
print(new_string)

I like orange

**Q6.Write a code to create a list with numbers 1 to 5 and print it.**

In [ ]:
x=[1,2,3,4,5]
print(x)

[1, 2, 3, 4, 5]

**Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].**

In [ ]:
x=[1,2,3,4]
x.append(10)
print(x)

[1, 2, 3, 4, 10]

**Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].**

In [ ]:


x=[1,2,3,4,5]
x.remove(3)
print(x)

[1, 2, 4, 5]

**Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].**

In [ ]:
x=['a','b','c','d']
x[1]

'b'

**Q10.Write a code to reverse the list [10, 20, 30, 40, 50].**

In [ ]:
x=[10,20,30,40,50]
x.reverse()
print(x)

[50, 40, 30, 20, 10]

**Q11.Write a code to create a tuple with the elements 100, 200, 300 and print it.**

In [ ]:
x=(100,200,300)
print(x)

(100, 200, 300)

**Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').**

In [ ]:
x=('red','green','blue','yellow')
x[-2]

'blue'

**Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).**

In [ ]:
x=(10,20,5,15)
min(x)

5

**Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').**

In [ ]:
x=('dog','cat','rabbit')
x.index('cat')

1

**Q15Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.**

In [ ]:
x=('apple','banana','kiwi')
'kiwi' in x

True

**Q16.Write a code to create a set with the elements 'a', 'b', 'c' and print it.**

In [ ]:
x={'a','b','c'}
print(x)

{'a', 'b', 'c'}

**Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.**

In [ ]:
x={1,2,3,4,5}
x.clear()
print(x)

set()

**Q18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.**

In [ ]:
x={1,2,3,4}
x.remove(4)
print(x)

{1, 2, 3}

**Q19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.**

In [ ]:
x={1,2,3}
y={3,4,5}
x.union(y)

{1, 2, 3, 4, 5}

**Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.**

In [ ]:
x={1,2,3}
y={2,3,4}
x.intersection(y)

{2, 3}

**Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.**

In [ ]:
x={"name":"ashish","age":20,"city":"pune"}
print(x)

{'name': 'ashish', 'age': 20, 'city': 'pune'}

**Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.**

In [ ]:
dict = {'name': 'John', 'age': 25}
dict['country'] = 'USA'
print(dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.**

In [ ]:
x={'name': 'Alice', 'age': 30}
x['name']

'Alice'

**Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.**

In [ ]:
x={'name': 'Bob', 'age': 22, 'city': 'New York'}
del x['age']
print(x)

{'name': 'Bob', 'city': 'New York'}

**Q25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.**

In [ ]:
x={'name': 'Alice', 'city': 'Paris'}
'city' in x

True

**Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.**

In [ ]:
x=[1,2,3]
print(x)
y=(1,2,3)
print(y)
z={'a':1,'b':2,'c':3}
print(z)

[1, 2, 3]
(1, 2, 3)
{'a': 1, 'b': 2, 'c': 3}

**Q27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)**

In [ ]:
import random

random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print(random_numbers)

[21, 21, 55, 93, 97]

**Q28.Write a code to create a list with strings and print the element at the third index.**

In [ ]:
x=['a','b','c','d']
x[3]

'd'

**Q29.Write a code to combine two dictionaries into one and print the result.**

In [ ]:
x={'a':1,'b':2}
y={'c':3,'d':4}
z={**x,**y}
print(z)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Q30.Write a code to convert a list of strings into a set.**

In [ ]:

x=['a','b','c']
set(x)

{'a', 'b', 'c'}